*{
    box-sizing: border-box;
}
body{
    font-family:'Courier New', Courier, monospace;
    width: 100%;
    margin: 0;
}
#top{
    gap: 30px;
    position:fixed;
    display: flex;
    background-color: #ebb8c4;
    width: 100%;
}
#sidebarBtn{
    position: fixed;
    top: 50px;
    border: none;
    background-color: transparent;
    width: 40px;
}
#logo{
    width: inherit;
    filter: invert(80%) saturate(500%) hue-rotate(270deg);
}
#top{
    display: flex;
}
#sidebar[hidden]{
    display: none;
}
#sidebar{
    min-width: 120px;
    width: 50%;
    height: 100%;
    max-width: 250px;
    display: flex;
    flex-flow: column;
    z-index: 2;
    background-color: rgb(232, 196, 199);
}
a{
    padding: 10px;
    text-decoration: none;
    color: black;
}
a:hover{
    background-color: rgb(237, 213, 215) ;
}
#userinput{
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    gap: 8px;
    padding: 30px 20px;
    background-color: rgb(252, 215, 221);
    width: auto;
}
#bar{
    flex: 1 1 auto;
    min-width: 0;
}
#userPrompt{
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    border: 2px solid #ebb8c4;
    border-radius: 20px;
}

#userPrompt::placeholder {
    color: #c4c4c4;
    font-family:'Courier New', Courier, monospace;
    font-size: 15px;
}
#submit{
    border-style: none;
    border-radius: 100%;
    background-color: #ebb8c4;
    width: 40px;
}
#chatRoom{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}
.userPromptDisplay{
    background-color: rgb(221, 160, 194);
    color: rgb(86, 75, 75);
    padding: 15px;
    border-top-right-radius: 2px;
    border-end-end-radius: 20px;
    border-top-left-radius: 20px;
    border-end-start-radius: 20px;   
    min-width: 100px;
    max-width: 70%;
    align-self: self-end;
    display:inline-block;
    overflow-wrap: break-word;
    margin-right: 10px;
}
